# Turn on URL rewriting
RewriteEngine On

# Protect hidden files from being viewed
<Files .*>
    Order Deny,Allow
    Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L,F]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<IfModule mod_setenvif.c>
    # Environtment
    SetEnvIf Request_URI "^.*" CI_ENV=development
    
    # Rewrite all other URLs to /TiketKita/index.php/URL on Development
    RewriteCond %{ENV:CI_ENV} "=development"
    RewriteRule ^(.*)$ /TiketKita/index.php/$1 [L]

    # Rewrite all other URLs to index.php/URL on Production
    RewriteCond %{ENV:CI_ENV} "=production"
    RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

<IfModule !mod_setenvif.c>
    # Default environtment is development if env module is none
    # Rewrite all other URLs to /TiketKita/index.php/URL on Development
    RewriteRule ^(.*)$ /TiketKita/index.php/$1 [L]
</IfModule>